body{
	
	background: url(timeIsMoney.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
fieldset{
	background-color: white;
}
legend{
 background-color: Ivory;
 font-weight:bold;
}
.center{
  margin: auto;
  width: 90%;
  padding: 10px;
  background-color: lightgrey;
  border:1px solid black;
}
.Tshadow{
	text-shadow: 2px 2px 5px red;
}
.cardsize{
	width:150px;
	height:150px;
}

span.clickable:hover{
	color:red;
	text-decoration: underline;
}